{% extends 'default/master.html.twig' %}

    {% set _template = app.request.attributes.get("_controller")|split('::') %}
    {% set _bundle = _template[0]|split('\\') %}
    {% set controller = _bundle[2] %}

    {% set action = _template[1] %}

    {% if action == 'showProfileAction' and controller == 'ProfileController'%}
        {% set userid = app.request.query.get('id') %}

        {% if userid is empty %}
            {%  set userid = app.user.id %}
        {% endif %}
    {% else %}
        {% set userid = app.user.id %}
    {% endif %}

    {% set user = profile.byuserid(userid) %}


{% block main_content %}

    <h4>Editar de {{ userid }}</h4>

    <div id="droparea" >

    </div>

    </div>
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        #droparea{
            background-color: #0000f0; height: 125px; width: 125px;
        }
        #droparea img {

        }
    </style>
{% endblock %}
{% block javascripts %}
    {{  parent()  }}
    <script>
      $("div#droparea").dropzone({
        autoProcessQueue:false,
        url: "/file/post",
        previewTemplate: '<div class="dz-preview dz-file-preview">\n' +
        '  <div class="dz-details">\n' +
        '    <img data-dz-thumbnail />\n' +
        '  </div>'
      });
    </script>


{% endblock %}