{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Gender</th>
                <th>Birthday</th>
                <th>Civil_status</th>
                <th>Location</th>
                <th>Language</th>
                <th>Image</th>
                <th>Created_at</th>
                <th>Modificated_at</th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('admin_user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.gender }}</td>
                <td>{% if user.birthday %}{{ user.birthday|date('Y-m-d') }}{% endif %}</td>
                <td>{{ user.civilstatus }}</td>
                <td>{{ user.location }}</td>
                <td>{{ user.language }}</td>
                <td>{{ user.image }}</td>
                <td>{% if user.createdat %}{{ user.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if user.modificatedat %}{{ user.modificatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_user_new') }}">Create a new user</a>
        </li>
    </ul>
{% endblock %}
