{% extends 'default/master.html.twig' %}

{% block body %}


    <div id="app-wrapper">


        <div class="container">
            <!-- Content here -->
            {#<div class="row">
                <ul class="breadcrumb d-block mr-1 ml-1">
                    <li class="completed">
                        <a href="javascript:void(0);">about</a>
                    </li>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0);">business</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">gallery</a>
                    </li>
                </ul>
            </div>#}

            <form>
                <h3>Registra el nombre y categoria</h3>
                <div class="form-group">

                    <label for="exampleInputEmail1">
                        Nombre comercial
                    </label>

                    <div class="row">
                        <div class="col">
                            <input type="text"
                                   class="form-control form-control-sm"
                                   id="nombrecomercial"
                                   aria-describedby="nombrelHelp"
                                   placeholder="">
                        </div>

                    </div>

                    <small id="nombrelHelp"
                           class="form-text text-muted">
                        Ingresa el nombre del negocio a registrar.
                    </small>
                </div>

                <div class="form-group">

                    <label for="exampleInputEmail1">
                        Categoria(s)
                    </label>

                    <div class="row">
                        <div class="col">
                            <select class="js-example-basic-multiple form-control" name="subcategories[]" multiple="multiple"  style="width:100%;" aria-describedby="categorieslHelp">

                                {% for cat in categories %}
                                <optgroup label="{{ cat.name }}">
                                    {% for subcat in subcategories if cat.id == subcat.category.id %}
                                    <option value="{{ subcat.id }}">{{ subcat.name }}</option>
                                    {% endfor %}
                                </optgroup>
                                {% endfor %}

                            </select>
                        </div>
                    </div>

                    <small id="categorieslHelp"
                           class="form-text text-muted">
                        Seleccione categoria y subcategorias
                    </small>

                </div>


                <div class="form-group">
                    <label for="exampleInputUbigeo">
                        Pais / Ciudad / Distrito
                    </label>
                    <div class="row">
                        <div class="col-sm-3 mt-1">
                            <select class="form-control form-control-sm" id="ddpais">
                                <option>Peru</option>
                                <option>Argentina</option>
                                <option>USA</option>
                            </select>
                            <small id="paisHelp"
                                   class="form-text text-muted">
                                Selecciona pais.
                            </small>
                        </div>

                        <div class="col-sm-4 mt-1">
                            <select class="form-control form-control-sm" id="ddciudad">
                                <option>Peru</option>
                                <option>Argentina</option>
                                <option>USA</option>
                            </select>
                            <small id="ciudadHelp"
                                   class="form-text text-muted">
                                Selecciona ciudad.
                            </small>
                        </div>

                        <div class="col-sm-5 mt-1">
                            <select class="form-control form-control-sm" id="dddistrito">
                                <option>Peru</option>
                                <option>Argentina</option>
                                <option>USA</option>
                            </select>
                            <small id="distritoHelp"
                                   class="form-text text-muted">
                                Selecciona distrito.
                            </small>
                        </div>

                    </div>

                </div>
                <!-- Direccion -->
                <div class="form-group">

                    <label for="inputAddress">
                        Direccion
                    </label>

                    <div class="row">
                        <div class="col">
                            <input type="text"
                                   class="form-control form-control-sm"
                                   id="inputAddress"
                                   aria-describedby="inputAddressHelp"
                                   placeholder="">
                        </div>

                    </div>

                    <small id="inputAddressHelp"
                           class="form-text text-muted">
                        Ingresa la direccion del establecimiento.
                    </small>
                </div>
                <!-- P.Web-->
                <div class="form-group">

                    <label for="inputPagweb">
                        Pagina web
                    </label>


                    <input type="text"
                           class="form-control form-control-sm"
                           id="inputPagweb"
                           aria-describedby="pagwebHelp"
                           placeholder="">


                    <small id="pagwebHelp"
                           class="form-text text-muted">
                        Ingrese la direccion web del establecimiento.
                    </small>
                </div>

                <div class="row">
                    <div class="col">
                        <!-- Telefono -->
                        <div class="form-group">

                            <label for="inputPhone">
                                Telefono
                            </label>


                            <input type="tel"
                                   class="form-control form-control-sm"
                                   id="inputPhone"
                                   aria-describedby="phoneHelp"
                                   placeholder="">


                            <small id="phoneHelp"
                                   class="form-text text-muted">
                                Ingresa el numero del negocio a registrar.
                            </small>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Email -->
                        <div class="form-group">

                            <label for="exampleInputEmail1">
                                Email
                            </label>


                            <input type="email"
                                   class="form-control form-control-sm"
                                   id="exampleInputEmail1"
                                   aria-describedby="emailHelp"
                                   placeholder="">


                            <small id="emailHelp"
                                   class="form-text text-muted">
                                Ingresa el nombre del negocio a registrar.
                            </small>
                        </div>
                    </div>
                </div>


                <div class="form-group">

                    <label for="exampleInputEmail1">
                        Horario de atencion
                    </label>


                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Abierto todo el tiempo
                        </label>
                    </div>

                </div>

                <!-- Hora de inicio y fin -->
                <div class="row">
                    <div class="col">
                        <!-- H. inicio -->
                        <div class="form-group">

                            <label for="exampleInputEmail1">
                                Hora de apertura
                            </label>

                            <input type="time"
                                   class="form-control form-control-sm"
                                   id="exampleInputEmail1"
                                   aria-describedby="emailHelp"
                                   placeholder="">


                            <small id="emailHelp"
                                   class="form-text text-muted">
                                Ingresa el nombre del negocio a registrar.
                            </small>
                        </div>
                    </div>
                    <div class="col">
                        <!-- H. cierre -->
                        <div class="form-group">

                            <label for="exampleInputEmail1">
                                Hora de cierre
                            </label>


                            <input type="time"
                                   class="form-control form-control-sm"
                                   id="exampleInputEmail1"
                                   aria-describedby="emailHelp"
                                   placeholder="">


                            <small id="emailHelp"
                                   class="form-text text-muted">
                                Ingresa el nombre del negocio a registrar.
                            </small>
                        </div>
                    </div>
                </div>

                <div id="map"></div>


                <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm"><input type="submit"
                                        class="btn btn-primary btn-sm btn-block mt-3 mb-3 mb-1"
                                        value="Registrar" /></div>
                <div class="col-sm"></div>
                </div>

            </form>
        </div>



        <div class="container">
            {#<div class="ui-register-box">
                <h2>INFORMACION DEL ESTABLECIMIENTO</h2>

                <div>
                    <div class="ui-reg-label">
                        <h5>NOMBRE COMERCIAL</h5>
                    </div>
                    <div class="ui-reg-input">
                        <input type="text" ref="nom_comercial"
                               data-tip="Ingrese <br />Nombre Comercial"
                               data-place="left"
                               data-multiline="true"
                        />
                    </div>
                    <div class="clearing" />
                </div>

                <div>
                    <div class="ui-reg-label">
                        <h5>LOGO</h5>
                    </div>
                    <div class="ui-reg-input">
                        <div  action="/file/upload"
                              class="dropzone dropzone-reg"
                              id="dropzone-area">

                        </div>
                        <br />
                    </div>
                    <div class="clearing" />
                </div>


                <div>
                    <div class="ui-reg-label">
                        <h5>CAREGORIA</h5>
                    </div>
                    <div class="ui-reg-input sel-categorias">
                        <input type="text" />
                    </div>
                    <div class="clearing" />
                </div>

                <div>
                    <div class="ui-reg-label">
                        <h5>PAIS / CIUDAD / DISTRITO</h5>
                    </div>
                    <div class="ui-reg-input ui-reg-input-3col">
                        <select></select>
                        <select></select>
                        <select></select>
                    </div>
                    <div class="clearing" />
                </div>
                <div>
                    <div class="ui-reg-label">
                        <h5>DIRECCION</h5>
                    </div>
                    <div class="ui-reg-input">
                        <input type="text" />
                    </div>
                    <div class="clearing" />
                </div>
                <div>
                    <div class="ui-reg-label">
                        <h5>TELEFONO</h5>
                    </div>
                    <div class="ui-reg-input">
                        <input type="text" />
                    </div>
                    <div class="clearing" />
                </div>
                <div>
                    <div class="ui-reg-label">
                        <h5>PAGINA WEB</h5>
                    </div>
                    <div class="ui-reg-input">
                        <input type="text" />
                    </div>
                    <div class="clearing" />
                </div>
                <div>
                    <div class="ui-reg-label">
                        <h5>EMAIL</h5>
                    </div>
                    <div class="ui-reg-input">
                        <input type="text" ref="email"
                               data-tip="Ingrese Email"
                               data-place="left"
                        />
                    </div>
                    <div class="clearing" />
                </div>

                <div>
                    <div class="ui-reg-label">
                        <h5>HORARIO DE ATENCION</h5>
                    </div>

                    <div class="ui-reg-input reg-atencion">

                        <input type="checkbox"  /> Abierto todo el tiempo<br />

                        <select name="open_hour" placeholder="HH" ></select>

                        <select name="open_min" placeholder="MM" ></select>

                        <select name="open_meri" placeholder="MR" ></select>



                        <select name="close_hour" placeholder="HH" ></select>

                        <select name="close_min" placeholder="MM" ></select>

                        <select name="close_meri" placeholder="MR" ></select>

                    </div>
                    <div class="clearing" />
                </div>

                <div class="ui-map-register">


                    <div class="clearing"></div>
                </div>

                <div id="map"></div>


                <div class="btn-register-est">
                    <input  type="button" value="REGISTRAR ESTABLECIEMINTO"/>
                </div>


            </div>#}
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{  parent()  }}
    <script src="{{ asset('js/infobox.js') }}"></script>
    <!-- ... -->
    <script src="{{ asset('build/js/register.js') }}"></script>



    <script>
      var map;
      var marker;

      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        marker = new google.maps.Marker({
          position: uluru,
          map: map
        })

        var boxText = document.createElement("div");
        boxText.style.cssText = "border: 1px solid black; margin-top: 8px; background: yellow; padding: 5px;";
        boxText.innerHTML = "City Hall, Sechelt<br>British Columbia<br>Canada";
        var myOptions = {
          content: boxText
          ,disableAutoPan: false
          ,maxWidth: 0
          ,pixelOffset: new google.maps.Size(-140, 0)
          ,zIndex: null
          ,boxStyle: {
            //background: "url('tipbox.gif') no-repeat"
            //,
            opacity: 0.75
            ,width: "280px"
          }
          ,closeBoxMargin: "10px 2px 2px 2px"
          ,closeBoxURL: "https://www.google.com/intl/en_us/mapfiles/close.gif"
          ,infoBoxClearance: new google.maps.Size(1, 1)
          ,isHidden: false
          ,pane: "floatPane"
          ,enableEventPropagation: false
        };
        google.maps.event.addListener(marker, "click", function (e) {
          ib.open(map, this);
        });
        var ib = new InfoBox(myOptions);
        ib.open(map, marker);

      }


    </script>

    <script>

      $( document ).ready(function() {
        // Handler for .ready() called.
        initMap();
      });
    </script>
{% endblock %}