{% extends 'base.html.twig' %}

{% block body %}
    <h1>District</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ district.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ district.name }}</td>
            </tr>
            <tr>
                <th>Lat_lng</th>
                <td>{{ district.latlng }}</td>
            </tr>
            <tr>
                <th>Zoom</th>
                <td>{{ district.zoom }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ district.state }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_district_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_district_edit', { 'id': district.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
